Repository tiiuae/nuttx, pull requests merged in 2024-12, with the labels that each got.

#323 mm_grantable.c: Fix infinite loop due to memory fragmentation
  mm/mm_gran/mm_grantable.c
Labels: Size: S, Area: Memory Management

#322 arch/arm64/src/imx9/imx9_usdhc.c: Simplify eventwait logic and remove…
  arch/arm64/src/imx9/imx9_usdhc.c
Labels: Size: S, Arch: arm64

#324 risc-v/mpfs: make cache clearing optional
  arch/risc-v/src/mpfs/Kconfig
  arch/risc-v/src/mpfs/mpfs_head.S
Labels: Arch: risc-v, Size: XS

#325 mpfs_entrypoints.c: Add simple ACK mechanism for CPU boot
  arch/risc-v/src/mpfs/mpfs_entrypoints.c
  arch/risc-v/src/mpfs/mpfs_entrypoints.h
Labels: Arch: risc-v, Size: S

#326 arch/risc-v/src/mpfs/mpfs_corespi.c: Add support for multiple bit widths
  arch/risc-v/src/mpfs/mpfs_corespi.c
Labels: Size: M, Arch: risc-v

#327 arch/arm64/imx9: Fix usdhc dma receive
  arch/arm64/src/imx9/imx9_usdhc.c
Labels: Size: XS, Arch: arm64

#328 fs/shm/shmfs_alloc.c: Allocate zero-initialized memory in flat build
  fs/shm/shmfs_alloc.c
Labels: Size: S, Area: File System

#329 codeql: run apt update before install
  .github/workflows/codeql.yml
Labels: Area: CI, Size: XS

#331 Map user memory passed to accept() in kernel build
  fs/socket/accept.c
Labels: Size: S, Area: File System

#333 nxsem_destroyholder: Use critical section when destroying holder(s)
  sched/semaphore/sem_holder.c
Labels: Size: XS, Area: OS Components
