Repository tiiuae/nuttx, pull requests merged in 2025-02, with the labels that each got.

#349 arch/risc-v/src/mpfs/mpfs_ethernet.c: Fix compilation with CONFIG_DEBUG_NET
  arch/risc-v/src/mpfs/mpfs_ethernet.c
Labels: Arch: risc-v, Size: XS

#350 boards/risc-v/mpfs/icicle: Combine "network" and "usb" targets to "hwtest"
  boards/risc-v/mpfs/icicle/configs/hwtest/defconfig
  boards/risc-v/mpfs/icicle/configs/network/defconfig
  boards/risc-v/mpfs/icicle/configs/usb/defconfig
Labels: Size: S, Board: risc-v

#352 Coremmc performance workaround
  arch/risc-v/src/mpfs/Kconfig
  arch/risc-v/src/mpfs/mpfs_coremmc.c
Labels: Arch: risc-v, Size: S

#355 libs/libc/modlib/modlib_bind.c: Fix system crash if modlib_bind fails
  libs/libc/modlib/modlib_bind.c
Labels: Size: XS, Area: OS Components

#354 risc-v/mpfs: corespi: fix 16-bit dma transfer
  arch/risc-v/src/mpfs/mpfs_corespi.c
Labels: Arch: risc-v, Size: S

#356 mpfs_irq.c: Interrupt claim must be cleared before disabling the source
  arch/risc-v/src/mpfs/mpfs_irq.c
Labels: Arch: risc-v, Size: S

#359 Mpfs handle pending plic irqs
  arch/risc-v/src/mpfs/hardware/mpfs_plic.h
  arch/risc-v/src/mpfs/mpfs_irq.c
  arch/risc-v/src/mpfs/mpfs_plic.c
  arch/risc-v/src/mpfs/mpfs_plic.h
Labels: Size: M, Arch: risc-v

#358 mpfs_corespi: Make DMA threshold configurable
  arch/risc-v/src/mpfs/Kconfig
  arch/risc-v/src/mpfs/mpfs_corespi.c
Labels: Arch: risc-v, Size: S

#362 arch/mcx-nxxx: Add support for NXP MCX-N236 CPU
  arch/arm/Kconfig
  arch/arm/include/mcx-nxxx/chip.h
  arch/arm/include/mcx-nxxx/irq.h
  arch/arm/include/mcx-nxxx/n236_irq.h
  arch/arm/src/mcx-nxxx/CMakeLists.txt
  arch/arm/src/mcx-nxxx/Kconfig
  arch/arm/src/mcx-nxxx/Make.defs
  arch/arm/src/mcx-nxxx/chip.h
  arch/arm/src/mcx-nxxx/hardware/n236/n236_clock.h
  arch/arm/src/mcx-nxxx/hardware/n236/n236_gpio.h
  arch/arm/src/mcx-nxxx/hardware/n236/n236_memorymap.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_clock.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_flexcomm.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_fmu.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_gpio.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_lpuart.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_memorymap.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_port.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_scg.h
  arch/arm/src/mcx-nxxx/hardware/nxxx_spc.h
  arch/arm/src/mcx-nxxx/nxxx_clockconfig.c
  arch/arm/src/mcx-nxxx/nxxx_clockconfig.h
  arch/arm/src/mcx-nxxx/nxxx_gpio.c
  arch/arm/src/mcx-nxxx/nxxx_gpio.h
  arch/arm/src/mcx-nxxx/nxxx_gpiobase.c
  arch/arm/src/mcx-nxxx/nxxx_gpioirq.c
  arch/arm/src/mcx-nxxx/nxxx_idle.c
  arch/arm/src/mcx-nxxx/nxxx_irq.c
  arch/arm/src/mcx-nxxx/nxxx_lowputc.c
  arch/arm/src/mcx-nxxx/nxxx_lowputc.h
  arch/arm/src/mcx-nxxx/nxxx_lpuart.c
  arch/arm/src/mcx-nxxx/nxxx_port.c
  arch/arm/src/mcx-nxxx/nxxx_port.h
  arch/arm/src/mcx-nxxx/nxxx_serial.h
  arch/arm/src/mcx-nxxx/nxxx_start.c
  arch/arm/src/mcx-nxxx/nxxx_timerisr.c
  boards/Kconfig
  boards/arm/mcx-nxxx/frdm-mcxn236/CMakeLists.txt
  boards/arm/mcx-nxxx/frdm-mcxn236/Kconfig
  boards/arm/mcx-nxxx/frdm-mcxn236/configs/nsh/defconfig
  boards/arm/mcx-nxxx/frdm-mcxn236/include/board.h
  boards/arm/mcx-nxxx/frdm-mcxn236/scripts/Make.defs
  boards/arm/mcx-nxxx/frdm-mcxn236/scripts/flash.ld
  boards/arm/mcx-nxxx/frdm-mcxn236/scripts/mcx_n236.jlink
  boards/arm/mcx-nxxx/frdm-mcxn236/src/CMakeLists.txt
  boards/arm/mcx-nxxx/frdm-mcxn236/src/Makefile
  boards/arm/mcx-nxxx/frdm-mcxn236/src/frdm-mcxn236.h
  boards/arm/mcx-nxxx/frdm-mcxn236/src/n23x_appinit.c
  boards/arm/mcx-nxxx/frdm-mcxn236/src/n23x_boardinit.c
  boards/arm/mcx-nxxx/frdm-mcxn236/src/n23x_bringup.c
Labels: Arch: arm, Size: XL, Board: arm

#363 Add-NXP93-ELE-events-fetch
  arch/arm64/src/imx9/hardware/imx9_ele.h
  arch/arm64/src/imx9/imx9_ele.c
  arch/arm64/src/imx9/imx9_ele.h
Labels: Size: M, Arch: arm64
