Repository tiiuae/nuttx, pull requests merged in 2025-03, with the labels that each got.

#364 mpfs/ethernet: Move txtimeout from HPWORK to LPWORK
  arch/risc-v/src/mpfs/Kconfig
  arch/risc-v/src/mpfs/mpfs_ethernet.c
Labels: Arch: risc-v, Size: S

#365 Fix rxtimeout workaround
  arch/risc-v/src/mpfs/Kconfig
  arch/risc-v/src/mpfs/mpfs_ethernet.c
Labels: Arch: risc-v, Size: S

#366 sched/sem_waitirq: Move kmm_map() call to sem_wait()
  sched/semaphore/sem_recover.c
  sched/semaphore/sem_wait.c
  sched/semaphore/sem_waitirq.c
Labels: Size: S, Area: OS Components

#367 Revert "drivers/mmcsd/mmcsd_sdio.c: If CONFIG_MMCSD_SDIOWAIT_WRCOMPLE…
  drivers/mmcsd/mmcsd_sdio.c
Labels: Size: XS, Area: Drivers

#370 icicle/canfd/defconfig: Normalize config for CI
  boards/risc-v/mpfs/icicle/configs/canfd/defconfig
Labels: Size: XS, Board: risc-v

#372 risc-v/mpfs: corespi: separate tx and rx buffers
  arch/risc-v/src/mpfs/mpfs_corespi.c
Labels: Arch: risc-v, Size: S

#337 Add MSS CAN driver
  arch/risc-v/src/mpfs/Kconfig
  arch/risc-v/src/mpfs/Make.defs
  arch/risc-v/src/mpfs/hardware/mpfs_can.h
  arch/risc-v/src/mpfs/mpfs_can.c
  arch/risc-v/src/mpfs/mpfs_can.h
  boards/risc-v/mpfs/icicle/configs/hwtest/defconfig
Labels: Arch: risc-v, Board: risc-v, Size: XL
