Repository tiiuae/nuttx, pull requests merged in 2025-01, with the labels that each got.

#336 riscv_cpustart.c: Change CPU start related traces to sinfo
  arch/risc-v/src/common/riscv_cpustart.c
Labels: Arch: risc-v, Size: XS

#335 drivers/usbdev/cdcacm.c: Fix a crash in cdcacm if usbdev gets unregis…
  drivers/usbdev/cdcacm.c
Labels: Size: S, Area: USB

#342 risc-v/mpfs: corespi: add DMA support
  arch/risc-v/src/mpfs/Kconfig
  arch/risc-v/src/mpfs/mpfs_corespi.c
Labels: Size: M, Arch: risc-v

#344 arch/risc-v/src/mpfs/mpfs_cache.c: Move l2zerodevice to use cache ways starting from 0
  arch/risc-v/src/mpfs/mpfs_cache.c
  boards/risc-v/mpfs/icicle/include/board_liberodefs.h
  boards/risc-v/mpfs/m100pfsevp/include/board_liberodefs.h
Labels: Arch: risc-v, Size: S, Board: risc-v

#343 Update opensbi to remove sbi_print_empty inlining
  arch/risc-v/src/opensbi/Make.defs
Labels: Arch: risc-v, Size: XS

#346 arch/risc-v/src/common/riscv_backtrace.c: Fix "error: pointer of type 'void *' used in arithmetic"
  arch/risc-v/src/common/riscv_backtrace.c
Labels: Arch: risc-v, Size: S
