Repository tiiuae/nuttx, pull requests merged in 2025-04, with the labels that each got.

#379 mpfs/mpfs_entrypoints.c: Change atomic_load > atomic_read
  arch/risc-v/src/mpfs/mpfs_entrypoints.c
Labels: Arch: risc-v, Size: XS

#381 mss can: use hw instead of sw filter
  arch/risc-v/src/mpfs/mpfs_can.c
Labels: Size: M, Arch: risc-v

#387 mpfs_corepwmc.c: Fix release of reset
  arch/risc-v/src/mpfs/mpfs_corepwm.c
Labels: Arch: risc-v, Size: XS

#392 sched/affinity: Fix CPU_LOCKED functionality for some SMP calls
  sched/sched/sched_backtrace.c
  sched/sched/sched_setpriority.c
  sched/sched/sched_suspend.c
  sched/signal/sig_dispatch.c
  sched/task/task_restart.c
  sched/task/task_terminate.c
Labels: Size: XS, Area: OS Components
